
/*
	Responsive
*/

@media (min-width: 768px) {

	.wrapper_info {
	    float: left;
	}

	.wrapper_search {
		float: none;
	    margin-left: 15px;
    	margin-top: 32px;
	}
	.wrapper_cart {
		float: right;
	}	
	.input_cart {
		width: 246px;
	}
}

@media (min-width: 992px) {

}

@media (min-width: 1200px) {

}

/*
	Resets
*/


ul,li{
	margin: 0;
	padding: 0;
}
nav{
	display: block;
}

a{
	cursor: pointer !important;
	text-transform: uppercase;
}

h1, h2, h3, h4, h5, h6{
	text-transform: uppercase;
}
/*
	Social Icons style
*/

.social_header{
	background-color: #3bc0c3;
	padding: 6px;
	height: 40px;
}

.nav_lang{
	float: left;
}

.btn{
	padding: 3px 24px;
	text-align: left;
	text-transform: uppercase;
}

.nav_lang .btn_321 {
	background-color: #5ae1e4;
	color: #fff;
}

.btn_321{
	background-color: #3bc0c3;
	border: none;
	color: #fff;
}

.btn_grey{
	background-color: #b6c2c9;
	border: none;
	color: #fff;
	font-size: 12px;
	padding: 5px 28px;
}

.btn_grey:hover{
	background-color: #8ea3af;
	color: #fff;
}

.btn_321:hover{
	background-color: #3ab3b7;
	color: #fff;
}

.nav_social{
	float: right;
	display: block;
}

.s-icon{
	color: #fff;
	padding: 0.15em 0.2em;
	border-radius: 4px;
	background-color: #3ab3b7;
	font-size: 1.2em;
	width: 2.3em;
	text-align: center;
	display: inline-block;
	margin-left: 0.5em;
	
	-webkit-transition: background-color 0.3s ease-out;
	-moz-transition: background-color 0.3s ease-out;
	-o-transition: background-color 0.3s ease-out;
	transition: background-color 0.3s ease-out;    

}

.s-icon i{
	font-weight: bold;
}

.s-icon:hover{
	text-decoration: none;
	background: #314350;
	color: #fff;
}

/* 
 	Header : Info Container
 */


.wrapper_info{
	margin-top: 25px;
	text-align: center;
}

.wrapper_search{
	margin-left: 6px;
	margin-top: 52px;
}

.wrapper_search i{
	padding-left: 6px;
	position: relative;
	font-size: 16px;
}

.wrapper_search .input_cart {
	padding: 5px 105px 7px 30px;
	margin-right: -112px;
	-webkit-box-shadow: 0 0 8px rgba(0,0,0,.25);
	box-shadow: 0 0 8px rgba(0,0,0,.25);

}

.wrapper_cart{
	margin: 50px 0 25px 3px;
	position: relative;
	z-index: 2000;
}

.wrapper_my_cart {
	position: relative;
	display: inline-block;
}

.wrapper_my_cart:after {
    content: " ";
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 100%;
    height: 10px;
    background: transparent;
}

.wrapper_cart .btn_321{
	padding: 8px 16px;
	margin-right: 3px;
	font-size: 12px;
}


.input_cart {
	border-radius: 4px;
	padding: 7px 106px 10px 30px;
	margin-left: -28px;	
	margin-right: -106px;
	width: 100%;
	border: 1px solid #b6c2c9;
}

.wrapper_cart i{
	padding-left: 6px;
	position: relative;
	font-size: 20px;
}

.wrapper_cart ul{
	display: inline-block;
	list-style: none;
}

.wrapper_cart .my_cart {

	display: none;
}

.wrapper_cart ul li:hover > .my_cart{
	display: block;	
}

.my_cart {
    position: absolute;
    right: 0px;
    background: #fff;
    border-radius: 5px;
    padding: 7px;
    border: 1px solid #b6c2c9;
    top: 100%;
    z-index: 100000;
    min-width: 280px;
    margin: 10px 0;
}

.cart_item {
	padding-bottom: 10px;
}

.my_cart .p_title {
	display: block;
	text-transform: capitalize;
	font-size: 14px;
	font-weight: bold;
	padding-top: 5px;
}

.my_cart .price {
	display: block;
}

.my_cart .remove {
	vertical-align: middle;
	text-align: center;
	padding: 7px;
	display: block;
	cursor: pointer;
}

.go_checkout {
	margin: 0px;
	text-align: right;
}

/*
	Multilevel Navigation
*/

.b_stripe{
	border-bottom: 5px solid #0f1922;
	display: block;
	width: 100%;
	float: left;
}

.multilevel_nav{
	float: left;
	position: absolute;
	z-index: 10000;
}

.multilevel_nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
.multilevel_nav ul li, .user_account ul li{
	display: block;
	line-height: 22px;
	position: relative;
	float: left;
	margin-bottom: -5px;
}
.multilevel_nav ul li:hover{
	background: #1c2b36;
}

.multilevel_nav ul li:hover > a{
	color: #fff; 
	border-bottom: 5px solid #3bc0c3;
}

.multilevel_nav ul li a, .user_account ul li a{
	list-style: none;
	color: #314350;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 12px;
	font-weight: bold;
	padding: 5px 15px;
	display: block;
	border-bottom: 5px solid transparent;
}

.multilevel_nav ul.level0 li.last a{
	color: #f05050;
}

.multilevel_nav ul.level0 li.last:hover a{
	background: #f05050;
	color: #fff;
}


	/* Second Level*/

.multilevel_nav ul li ul{
	display: none;
	background: #edf1f2;
}

.multilevel_nav ul li ul span{
	padding: 5px 15px 0px;
	font-weight: bold;
	display: block;	
}

.multilevel_nav ul li:hover > ul{
	display: block;
	position: absolute;
	width: 100%;
}

.multilevel_nav ul ul li{
	display: block;
	float: none;
	margin-bottom: 0;
}

.multilevel_nav ul ul li a{
	color: #1c2b36;
	font-weight: normal;
	padding: 4px 15px;
	border-bottom: none;
}

.multilevel_nav ul ul li{
	display: block;
	float: none;
}

.multilevel_nav ul ul li i{
	float: right;
	padding: 4px;
}


.multilevel_nav ul ul li:hover{
	background: #b6c2c9;	
}

.multilevel_nav ul ul li:hover a{
	color: #1c2b36;
	border-bottom: none;
}

.multilevel_nav ul ul ul{
	left: 100%;
	top: 0;
}

/*
	User Account Navigation
*/

.user_account {
	position: relative;
	z-index: 500;
}
.user_account ul{
	list-style: none;
	float: right;
}

.account_box{
	position: absolute;
	right: 0px;
	background: #edf1f2;
	border-radius: 3px;
	padding: 10px;
	box-shadow: 2px 3px 5px #ccc;
}

.user_account .account_box{
	display: none;
}

.user_account ul li:hover{
	background: #1c2b36;
}

.user_account ul li:hover > a{
	color: #fff; 
	border-bottom: 5px solid #3bc0c3;
}

.user_account ul li:hover > div{
	display: block;
}

.user_account ul li:hover > div{
	display: block;
}

.user_account .account_box .input {
	border: 1px solid grey;
    border-radius: 6px;
    padding: 4px;
}

.account_box span {
	padding: 5px 0px 10px;
	font-weight: bold;
	display: block;	
}

/*
	Slider :: Carousel
*/

.carousel-indicators {
	bottom: -40px;
}
.carousel {
	margin-bottom: 40px;
}
.carousel-indicators li {
	background: #1c2b36;
	border: none;
	margin: 2px;
}
.carousel-indicators .active {
	background: #3bc0c3;
	border:none;
}



.favourites{

}
.controls{
	margin:5px;
}
.controls a{
	padding-right: 6px;
	color: #b6c2c9;
}
.controls a:hover{
	text-decoration: none;
}


 /*
	Fancy Headings
 */

.new-store .heading-fancy {
	margin-bottom: 25px;
}

.heading-fancy {
	font-weight: normal;
	text-transform: uppercase;
	font-size: 30px;
	border-bottom: 2px solid #314350;
}

.heading-fancy span{
	background-color: #fff;
	position: relative;
	padding: 0 15px;
	top: 14px;
}

.heading-fancy-left span{
	left: 45px;
}

.heading-fancy-center{
	text-align: center;
}

/*
	Navigation Tabs :: Customer Categories || Women | Men | Junior
*/

	/*
		Override Bootstrap Tabs CSS
	*/

.nav-tabs{
	margin-bottom: 10px;
	padding-bottom: 1px;
	border-bottom: 5px solid #0f1922;
}

.nav-tabs > li > a{
	background-color: #eee;
	color: #314350;
	border: none;
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus,
.nav-tabs > li > a:hover {
    color: #555;
    cursor: default;
    background-color: #314350 !important;
	border:none;
    color: #fff !important;
}
 
 .multi-col-3 {
	-webkit-column-count: 2;
	-moz-column-count: 2; 
	column-count: 2;	
	-webkit-column-gap: 20px; 
	-moz-column-gap: 20px; 
	column-gap: 20px;
	text-align: justify;
 }

@media (min-width: 768px) {

	.multi-col-3 {
		-webkit-column-count: 3;
		-moz-column-count: 3; 
		column-count: 3;	
		-webkit-column-gap: 30px; 
		-moz-column-gap: 30px; 
		column-gap: 30px;
	}	
}

/*
	New Store
*/

.new-store {
	font-size: 16px;
}

.new-store p{
	text-align: justify;
}


/*
	Footer
*/

.site_footer {
	margin: 15px 0px 0px 0px;
	padding: 8px 0px 35px;
	background-color: #b6c2c9;
}

.site_footer h4{
	color: #fff;
}

.input-newsletter {
	border-radius: 3px;
	border: none;
	padding: 6px 137px 8px 30px;
	margin-left: 0;	
	/*	margin-left: -29px;	*/
	margin-right: -137px;
	width: 345px;
}

.ns_wrapper i{
	padding-left: 6px;
	position: relative;
	font-size: 20px;
}

.site_footer ul{
	list-style: none;
}

.site_footer li{
	line-height: 24px;
}

.site_footer a{
	color: #fff;
}

.site_footer a:hover{
	color: #314350;
}

.subs_msg_wrap {
	margin-top: 10px;
}

.ns_wrapper em{
	padding-left: 8px;
	font-size: 12px;
}