<!-- application/layouts/scripts/layout.phtml -->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<title>Frontend Test</title>
	<?php echo $this->headLink()->appendStylesheet('css/bootstrap.css') ?>
	<?php echo $this->headLink()->appendStylesheet('css/styles.css') ?>
	<?php echo $this->headLink()->appendStylesheet('css/carousel.less') ?>
	<?php echo $this->headLink()->appendStylesheet('https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css') ?>

	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

	<?php echo $this->headScript()->appendFile('js/bootstrap.js') ?>
	<?php echo $this->headScript()->appendFile('js/scripts.js') ?>

     <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<body>
	<?php echo $this->render('header.phtml') ?>
	<?php echo $this->layout()->content ?>
	<?php echo $this->render('footer.phtml') ?>
</body>
</html>